<p-panel >
  <p-header>
      <p align="left">Contact us</p>
  </p-header>  
  <br>  
  <table align="center">
    
    <tr>
      <th>
        <span class="ui-float-label">
          <input id="float-input" type="email" size="30" pInputText required> 
          <label for="float-input">Your email</label>
        </span>
      </th>
    </tr>
    
    <tr><th><p>&nbsp;</p></th></tr>

    <tr>
      <th>          
        <textarea rows="5" cols="30" placeholder="Tell us something" pInputTextarea></textarea>
      </th>
    </tr> 

    <tr><th><p>&nbsp;</p></th></tr>

    <tr>
      <th>        
        <p-button label="Send" ></p-button>
      </th>
    </tr>
    
  </table> 
  <br> <br> <br> <br> <br> <br>
  <p-footer>
    <p align="right">Created by juancamiloarango@gmail.com</p>
  </p-footer>
</p-panel>