<div>
  <table>
    <th>
      <tr>Person form</tr>
      <tr>
        <label>type id:
          <input [(ngModel)]="person.typeId" placeholder="typeId">
        </label>
      </tr>
      <tr>
        <label>Id:
          <input [(ngModel)]="person.id" placeholder="id">
        </label>
      </tr>
      <tr>
        <label>First Name:
          <input [(ngModel)]="person.firstName" placeholder="firstName">
        </label>
      </tr>
      <tr>
        <label>Last Name:
          <input [(ngModel)]="person.lastName" placeholder="lastName">
        </label>
      </tr>
      <tr>
        <label>Cel number:
          <input [(ngModel)]="person.celNumber" placeholder="celNumber">
        </label>
      </tr>
      <tr>
        <label>Email:
          <input [(ngModel)]="person.email" placeholder="email">
        </label>
      </tr>
    </th>
  </table>
</div>
