table {
    background-color: black
}
a {
    color: #ffffff;
    text-decoration: none;
    position: relative;
    display: block;
    width: 250px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }