<p-panel>
    <p-header>
        <p align="left">Sign in</p>
    </p-header>
    <div class="container">
      <table align="center">
        <tr><th><p>&nbsp;</p></th></tr>
        <tr>
          <th>
            <span class="ui-float-label">
                <input id="firstName" type="text" size="30" pInputText required> 
                <label for="firstName">First name</label>
            </span>
          </th>
        </tr>
        <tr><th><p>&nbsp;</p></th></tr>
        <tr>
          <th>
            <span class="ui-float-label">
                <input id="lastName" type="text" size="30" pInputText> 
                <label for="lastName">Last name</label>
            </span>
          </th>
        </tr>
        <tr><th><p>&nbsp;</p></th></tr>
        <tr>
          <th>
            <span class="ui-float-label">
              <input id="email" type="email" size="30" pInputText required> 
              <label for="email">Email</label>
            </span>
          </th>
        </tr>
        <tr><th><p>&nbsp;</p></th></tr>
        <tr>
          <th>
              <input type="password" placeholder="Password" pPassword [(ngModel)]="property"/>
          </th>
        </tr>
        <tr><th><p>&nbsp;</p></th></tr>
        <tr>
          <th>
              <input type="password" placeholder="Repeat password" pPassword [(ngModel)]="property"/>
          </th>
        </tr>
        <tr><th><p>&nbsp;</p></th></tr>
        <tr>
          <th>        
            <p-button label="Submit" ></p-button>&nbsp;<p-button label="Clear" ></p-button>
          </th>         
        </tr>
      </table>
    </div>
      <br> <br> <br> <br> <br> <br>
    <p-footer>
      <p align="right">Created by juancamiloarango@gmail.com</p>
    </p-footer>
</p-panel>